#* @vtlvariable name="moduleDesc" type="edu.stanford.webprotege.maven.PortletModuleDescriptor" *#

package edu.stanford.bmir.protege.web.client.portlet;

#foreach(${moduleDesc} in ${moduleDescriptors})
import ${moduleDesc.moduleFullyQualifiedClassName};
#end

@dagger.Module
public class PortletFactoryModuleGenerated {
}